/* Big tablet to 1200px(widths smaller than the 1140px row) */
@media only screen and (max-width:1440px) {
    .app {
        width: 100%;
        height: 100%; 
        padding: 0;
        margin: 0;

        /* grid area */
        display: grid;
        grid-template-columns: repeat(24,1fr);
        grid-template-rows: repeat(24,1fr);
    }

    .bottom-chat {
        margin-left: 3rem;
    }

    .sidebar {
        grid-column: 1 / 8;
        grid-row: 1/-1;
    }

    .main {
        grid-column: 8/ -1;
        grid-row: 1/-1;
    }
    
}

@media only screen and (max-width:1260px) {
    .sidebar {
        grid-column: 1 / 9;
        grid-row: 1/-1;
    }

    .main {
        grid-column: 9/ -1;
        grid-row: 1/-1;
    }

    .bottom-chat {
        margin-left: 0;
    }

    .top-chat p,
    .bottom-chat p {
        width: 75%;
        display: inline-block;
        font-size: 1;
        color: rgb(134, 134, 134);
    }

}

@media only screen and (max-width:900px) {
    .sidebar {
        grid-column: 1 / 11;
        grid-row: 1/-1;
    }

    .main {
        grid-column: 11/ -1;
        grid-row: 1/-1;
    }

    .contact-name
    .group-name {
        font-size: 1.25;
        max-width: 12rem;
    }

    .chat-message,
    .chat-message-typing {
        font-size: 1.2rem;
    }

    .sidebar-header-icons img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .sidebar-header-icons img:nth-child(2) {
        margin: 0 2rem;
    }

    .top-chat p,
    .bottom-chat p {
        width: 60%;
        font-size: small;
    }
}

@media only screen and (max-width:700px) {
    .sidebar {
        grid-column: 1 / 12;
        grid-row: 1/-1;
    }

    .contact-name
    .group-name {
        font-size: 1.2rem;
        display: block;
    }

    .chat-message,
    .chat-message-typing {
        font-size: 1.13rem;
    }

    .sidebar-header-icons img:nth-child(2) {
        margin: 0 1.5rem;
    }

    .main {
        grid-column: 12/ -1;
        grid-row: 1/-1;
    }

    .top-chat p,
    .bottom-chat p {
        width: 50%;
        font-size: smalll;
    }
}

@media only screen and (max-width:520px) {
    .main {
        display: none;
    }

    .sidebar {
        grid-column: 1 / -1;
        grid-row: 1/-1;
    }

    .sidebar-header-icons img:nth-child(2) {
        margin: 0 3rem;
    }
}
