/* ------------------------ */
/* Baselines styles */
/* ----------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ---------------------
/* Main container */
/* ---------------------- */
.main-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 12.8rem 1fr;
}

/* ------------------------ */
/* App background */
/* ----------------------- */

.top {
    background-color: #3e9788;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.bottom {
    background-color: #d9dbd5;
    grid-column: 1/-1;
    grid-row: 2/-1;
}

/* ------------------ */
/* App */ 
/* -------------------- */

.app {
    display: grid;
    grid-template-columns: 42rem 1fr;
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 139.6rem;
    margin: 2rem auto;
    border: 1px solid rgba(0,0,0,0.1);
}
/* -------------------- */
/* sidebar  */
/* -------------------- */

.sidebar {
    grid-column: 1 / 2;
    background: #fff;
    box-shadow: 0.5px 0 1rem 0.09rem rgba(0,0,0,0.09);
    z-index: 1;
}

/* sidebar header */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* profile image */
.sidebar-header > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -0.3rem;
}

/* sidebar-header-icons */
.sidebar-header-icons {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    cursor: pointer;
}

.sidebar-header-icons img {
    width: 2.7rem;
    height: 2.7rem;
}

.sidebar-header-icons img:active {
  background: #d5d5d5;
  border-radius: 50%;
  box-shadow: 0 0 1px 8px #d5d5d5;  
}

.sidebar-header-icons img:nth-child(2) {
    margin: 0 2vw;
}


/* sidebar search chat */

.search-bar {
    display: flex;
    padding: 1rem;
}

.search-bar > img {
    width: 3.2rem;
    background: #ededed;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 1rem;
}

.search-bar input{
    outline: none;
    border: none;
    padding: 1rem 1rem 1rem 2rem;
    flex: 1;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: 14px;
    background-color: #ededed;
    /*not looking good */
    /* font-family: "Segoe UI"; */ 
}

.search-bar input::placeholder {
    font-size: 14px;
    color: #919191;
}


/* contacts */
.contacts {
    overflow-y: scroll;
    overflow-x: hidden;
}

.contacts::-webkit-scrollbar {
    width: 0.7rem;
    height: 1rem;
}

.contacts::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

/* each contact */
.contact {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 1rem 0 0 2rem;
    cursor: pointer;
}

.contact:hover {
    background: #f5f5f5;
}

/* .contact:hover {
    display: initial;
} */

.active-chat {
    background: #ebebeb !important;
}

.contact-left img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.contact-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ededed;
}

.contact:last-of-type .contact-right {
    border-bottom: none;
}

.contact-right-top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}


.contact-name,
.group-name {
    font-size: 1.5rem;
    font-weight: 550;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13vw; 
}

.chat-message,
.chat-message-typing {
    font-size: 1.25rem;
}

.chat-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 28rem;
    color: #8d8d8d;
}

.chat-message-typing {
    /* color: #3ccc2f; */
    color: #8d8d8d;
    font-weight: 500;
}

.chat-date {
    padding-right: 0;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    color: #919191;
}

.contact-right-bottom {
    display: flex;
}

.contact-right-bottom-left {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.contact-right-bottom-left img {
    max-height: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.3rem; 
}

.contact-right-bottom-left .microphone {
    max-height: 1.5rem;
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
    margin-top: -0.1rem; 
}


.contact-right-bottom-left .google-docs {
    max-height: 1.5rem;
    /* margin-left: 0.5rem; */
    margin-right: 0.5rem;
    margin-top: -0.3rem; 
}

.contact-right-bottom-right {
    display: flex;
    align-items: center;
}

.unread-messages-number {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #3ccc2f;
    color: #fff;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
}

.chat-options {
    display: none;
    margin-left: 0.5rem;
}

.chat-options img {
    vertical-align: middle;
}

.chat-pin img {
    max-height: 1.6rem;
    margin-right: 0.2rem;
}

.chat-mute img {
    max-height: 1.6rem;
    margin-right: 0.2rem;
}

.single-check-mark,
.double-check-mark {
    margin-right: 0.2rem;
}

.single-check-mark {
    width: 1.4rem;
}

.double-check-mark {
    width: 2rem;
}

/* -------------------- */
/* main */
/* --------------------- */

.main {
    grid-column: 2/-1;
    background: #fff;
    position: relative;
}

.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-chat {
    margin-top: 18rem;
    text-align: center;
}

.top-chat img {
    width: 30rem;
    height: 25rem;
    margin-bottom: 2rem;
    margin-left: -3rem;
}

.top-chat h1 {
    margin-top: 2vw;
}

.top-chat p,
.bottom-chat p {
    width: 30vw;
    display: inline-block;
    font-size: medium;
    color: rgb(134, 134, 134);
}

/* .margin {
   
} */

.bottom-chat {
    display: flex;
    padding: 2rem;
    margin-left: 10rem;
}

.bottom-chat p {
    display: inline-block;
    padding: 1rem 1rem 1rem 1rem;
    flex:1;
}

.bottom-chat p a {
    text-decoration: none;
    color: #3ccc2f;
    cursor: pointer;
}
.bottom-chat > img {
    width: 3rem;
    height: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
}

